.footer{
    width: 100%;
    height: 468px;
}
.footertop{
    width: 1180px;
    height: 80px;
    background: #f7f7f7;
    margin: 0 auto;
    margin-top: 15px;
    padding-left: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #cccccc;
}
.footertop li{
    float: left;
    margin-right: 95px;
}
.footertop li i{
    display: inline-block;
    width: 60px;
    height: 60px;
    vertical-align: -24px;
    margin-right: 5px;
}
.footerone{
    background: url("../images/icon_index.png") no-repeat -91px -4px;

}
.footertwo{
    background: url("../images/icon_index.png") no-repeat -159px -4px;
}
.footerthree{
    background: url("../images/icon_index.png") no-repeat -228px -4px;
}
.footerfour{
    background: url("../images/icon_index.png") no-repeat -295px -6px;
}
.footertop li:hover i{
    animation:dongqilai 3s linear;
}
@keyframes dongqilai {
    0%{
        transform: rotateZ(15deg);
    }
    5%{
        transform: rotateZ(-15deg);
    }
    10%{
        transform: rotateZ(15deg);
    }
    15%{
        transform: rotateZ(-15deg);
    }
    20%{
        transform: rotateZ(15deg);
    }
    30%{
        transform: rotateZ(-15deg);
    }
    40%{
        transform: rotateZ(15deg);
    }
    50%{
        transform: rotateZ(-15deg);
    }
    60%{
        transform: rotateZ(15deg);
    }
    80%{
        transform: rotateZ(-15deg);
    }
    100%{
        transform: rotateZ(0);
    }
}
.footerbottom{
    width: 100%;
    height: 306px;
    border-top: 1px solid #cccccc;
    margin-top: 20px;
    overflow: hidden;
}
.footerbottom1{
    width: 1200px;
    height: 175px;
    margin: 0 auto;
    padding-top: 20px;
}
.Joinlist{
    float: left;
    margin-left: 116px;
}
.Joinlist dt{
    border-left: 3px solid #5D96C7;
    padding: 0 0 0 10px;
    height: 18px;
    font: 18px/1 Microsoft Yahei;
    margin-bottom: 10px;
}
.Joinlist dd{
    padding-left: 14px;
    line-height: 24px;
    font-size: 14px;
    cursor: pointer;
}
.Joinlist dd:hover{
    color: #F55;
    margin-left: 5px;
    -webkit-transition: margin 0.5s;
    transition: margin 0.5s;
}
.appxiazai,.weixin,.xiaochenxu{
    border-left: 3px solid #5D96C7;
    padding: 0 0 0 10px;
    height: 18px;
    font: 18px/1 Microsoft Yahei;
    margin-bottom: 10px;
    float: left;
    margin-left: 116px;
}
.appxiazai dd{
    width: 96px;
    height: 96px;
    background: url("../images/icon201706.png") no-repeat -260px -56px;
    margin-top: 20px;
}
.weixin dd{
    width: 96px;
    height: 96px;
    background: url("../images/icon201706.png") no-repeat -364px -56px;
    margin-top: 20px;
}
.xiaochenxu dd{
    width: 96px;
    height: 96px;
    background: url("../images/icon201706.png") no-repeat -156px -56px;
    margin-top: 20px;
}
.line p{
    margin-left: 248px;
    font-size: 14px;
}
.line{
    width: 1200px;
    height: 50px;
    margin: 0 auto;
}
.ssline{
    margin-left: 184px !important;
    margin-top: 10px;
}
.ssline a i{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../images/anbei.png") no-repeat;
    vertical-align: -3px;
}
.website{
    width: 860px;
    height: 45px;
    margin: 20px auto;
    padding-left:340px;
}
.website li{
    float: left;
    margin-right: 15px;
    cursor: pointer;
    transition: 0.4s;
}
.website li:hover{
    transition: 0.4s;
    transform: translateY(-5px);
}
.website1{
    width: 80px;
    height: 45px;
    background: url("../images/icon201706.png") no-repeat -327px -436px;
}
.website2{
    width: 98px;
    height: 45px;
    background: url("../images/icon201706.png") no-repeat -472px -440px;
}
.website3{
    width: 92px;
    height: 45px;
    background: url("../images/icon201706.png") no-repeat -564px -440px;
}
.website4{
    width: 92px;
    height: 45px;
    background: url("../images/icon201706.png") no-repeat -656px -440px;
}
.website5{
    width: 60px;
    height: 45px;
    background: url("../images/icon201706.png") no-repeat -330px -482px;
}
.website6{
    width: 92px;
    height: 45px;
    background: url("../images/icon201706.png") no-repeat -390px -482px;
}
